In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import numpy as np

df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/SoCalRHackathon/merged.csv")
df

Mounted at /content/drive

,Unnamed: 0.1,Unnamed: 0_x,review_id,user_id,business_id,stars_x,useful_x,funny_x,cool_x,text,...,city,stars_y,review_count_x,categories,Unnamed: 0,review_count_y,yelping_since,useful_y,funny_y,cool_y
0,0,0,ZKvDG2sBvHVdF5oBNUOpAQ,wSTuiTk-sKNdcFyprzZAjg,B5XSoSG3SfvQGtKEGQ1tSQ,3,1,1,0,This easter instead of going to Lopez Lake we ...,...,Santa Barbara,4.5,13,"Parks, Active Life",12210,24,2015-10-27 22:53:34,31,8,2
1,1,1,9ag-bC-521T1i3IypXr4Ug,sx_cqxyWRUoOIoy_AXmLdQ,B5XSoSG3SfvQGtKEGQ1tSQ,4,1,0,0,I work with a college group that does camping ...,...,Santa Barbara,4.5,13,"Parks, Active Life",1445,315,2009-09-02 07:42:05,572,173,227
2,2,123536,SP736Ciz9njLZiwZCR3QnQ,sx_cqxyWRUoOIoy_AXmLdQ,5bDjg02rlg6ODEUT-UQT-A,3,3,1,1,Was hoping for a lot more! Got the filet migno...,...,Santa Barbara,3.5,39,"Bars, Hotels, Restaurants, Steakhouses, Hotels...",1445,315,2009-09-02 07:42:05,572,173,227
3,3,236613,mGuEEBKBvxasUCkd59v1dg,sx_cqxyWRUoOIoy_AXmLdQ,_QohBRBxWuwlIUuHj5_fZQ,3,1,0,1,"I mean, you can't beat the views, that much is...",...,Santa Barbara,3.0,692,"Hotels & Travel, Event Planning & Services, Ho...",1445,315,2009-09-02 07:42:05,572,173,227
4,4,268957,fYSB2HqxJqEGUJh2eka9KA,sx_cqxyWRUoOIoy_AXmLdQ,yPSejq3_erxo9zdVYTBnZA,5,0,0,0,One of my favorite spots when visiting Santa B...,...,Santa Barbara,4.5,3834,"Mexican, Restaurants",1445,315,2009-09-02 07:42:05,572,173,227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348850,348850,348846,g7q22jHG6Vi6ANDuBCThWQ,P7U5QFaP3JkJ7KbE2FgzUg,z-dnUiZVUWnDyZgqGVHCEw,5,1,0,0,Stop by here all the time. Awsome customer se...,...,Santa Barbara,3.5,5,"Jewelry, Bikes, Gold Buyers, Shopping, Pawn Sh...",148714,2,2015-05-03 16:55:00,6,3,2
348851,348851,348847,FtFJU5Avz7wzlqLYquZcvg,g48tDWwqDw-SQfaCPJDZUw,z-dnUiZVUWnDyZgqGVHCEw,1,0,0,0,These guys falsely advertised and stole money ...,...,Santa Barbara,3.5,5,"Jewelry, Bikes, Gold Buyers, Shopping, Pawn Sh...",149592,7,2011-10-16 20:14:51,5,5,1
348852,348852,348851,cKuP5pnvbvpn4UbaccVcdg,OVYb1El25BgVhgbXb4e-KA,XPkkWyAkkPeH-PqXmBMmpg,5,0,0,0,Great experience with great people who are rea...,...,Santa Barbara,5.0,5,"Tours, Walking Tours, Hotels & Travel, Archite...",151914,11,2013-07-23 20:20:36,10,2,1
348853,348853,348852,dZC87sZ1f2ntOf876_DDLg,9w5PoliouEyNikdy6DizqQ,XPkkWyAkkPeH-PqXmBMmpg,5,0,0,0,I spent the week in Santa Barbara and had the ...,...,Santa Barbara,5.0,5,"Tours, Walking Tours, Hotels & Travel, Archite...",138724,41,2011-01-30 02:32:40,30,10,17
348854,348854,348853,NCafkcXIvK7E965my4RpQg,GmuHOkMR80oW3sAuF-UsAw,XPkkWyAkkPeH-PqXmBMmpg,5,0,0,0,"Last summer, I had the pleasure of experiencin...",...,Santa Barbara,5.0,5,"Tours, Walking Tours, Hotels & Travel, Archite...",148053,5,2011-03-11 18:05:44,4,0,0

In [ ]:
df_biz = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/SoCalRHackathon/CA_Biz.csv")
df_biz.head()

,Unnamed: 0,business_id,name,state,city,stars,review_count,categories
0,0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ",CA,Santa Barbara,5.0,7,"Doctors, Traditional Chinese Medicine, Naturop..."
1,26,noByYNtDLQAra9ccqxdfDw,H&M,CA,Santa Barbara,3.0,24,"Women's Clothing, Accessories, Children's Clot..."
2,85,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,CA,Santa Barbara,4.0,389,"Food, Restaurants, Salad, Coffee & Tea, Breakf..."
3,91,nUqrF-h9S7myCcvNDecOvw,Iron Horse Auto Body,CA,Santa Barbara,4.5,32,"Towing, Automotive, Body Shops"
4,120,bYjnX_J1bHZob10DoSFkqQ,Tinkle Belle Diaper Service,CA,Santa Barbara,5.0,17,"Parenting Classes, Maternity Wear, Fashion, Ed..."

In [ ]:
# All category with restaurant|food

df_biz['categories'] = df_biz['categories'].fillna('')

df_biz = df_biz[df_biz['categories'].str.contains('Restaurant|Food')]

categories = df_biz['categories'].str.get_dummies(sep=', ')

df_biz = pd.concat([df_biz, categories], axis=1)

df_biz.drop('categories', axis=1, inplace=True)

df_biz

,Unnamed: 0,business_id,name,state,city,stars,review_count,American (New),American (Traditional),Bars,...,Wildlife Control,Wine & Spirits,Wine Bars,Wine Tasting Classes,Wine Tasting Room,Wine Tours,Wineries,Women's Clothing,Wraps,Yoga
2,85,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,CA,Santa Barbara,4.0,389,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,141,SZU9c8V2GuREDN5KgyHFJw,Santa Barbara Shellfish Company,CA,Santa Barbara,4.0,2404,0,0,1,...,0,1,0,0,0,0,0,0,0,0
9,401,4xhGQGdGqU60BIznBjqnuA,California Tacos and Taproom,CA,Isla Vista,4.0,49,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11,431,ifjluUv4VASwmFqEp8cWlQ,Marty's Pizza,CA,Santa Barbara,4.0,64,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,470,VeFfrEZ4iWaecrQg6Eq4cg,Cal Taco,CA,Goleta,4.0,189,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5196,150230,IRBhPAC4ZoDpXazpoB3epQ,Good Stuff Baked Treats,CA,Santa Barbara,5.0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5197,150239,TSwMwVq5GtQh5LW2t32uGA,Woody's Roundup Bar & Grill,CA,Santa Barbara,2.0,6,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5198,150264,Bo-GGwQNcLVwyKeYkbfAYg,Vino Divino,CA,Santa Barbara,5.0,19,0,0,1,...,0,1,1,0,1,0,1,0,0,0
5199,150272,8BUr8GviR2o_b-brO21wwQ,Kyle's Isla Vista,CA,Isla Vista,2.5,12,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5201,150290,uriD7RFuHhLJeDdKaf0nFA,Pizza Guru,CA,Santa Barbara,4.0,299,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# top 10 category with restaurant|food

df_biz['categories'] = df_biz['categories'].fillna('')

df_biz = df_biz[df_biz['categories'].str.contains('Restaurant|Food')]

categories = df_biz['categories'].str.split(', ')

categories = categories.explode()

top_categories = categories.value_counts().nlargest(10).index.tolist()

print(top_categories)

categories.loc[~categories.isin(top_categories)] = 'Other'

df_pivot = categories.groupby(level=0).value_counts().unstack(fill_value=0)

df_biz = pd.concat([df_biz, df_pivot], axis=1)

df_biz

['Restaurants', 'Food', 'Nightlife', 'Bars', 'American (New)', 'Mexican', 'Coffee & Tea', 'Sandwiches', 'Breakfast & Brunch', 'American (Traditional)']

,Unnamed: 0,business_id,name,state,city,stars,review_count,categories,American (New),American (Traditional),Bars,Breakfast & Brunch,Coffee & Tea,Food,Mexican,Nightlife,Other,Restaurants,Sandwiches
2,85,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,CA,Santa Barbara,4.0,389,"Food, Restaurants, Salad, Coffee & Tea, Breakf...",0,0,0,1,1,1,0,0,2,1,1
5,141,SZU9c8V2GuREDN5KgyHFJw,Santa Barbara Shellfish Company,CA,Santa Barbara,4.0,2404,"Live/Raw Food, Restaurants, Seafood, Beer Bar,...",0,0,1,0,0,1,0,1,5,1,0
9,401,4xhGQGdGqU60BIznBjqnuA,California Tacos and Taproom,CA,Isla Vista,4.0,49,"Mexican, Beer Bar, Bars, Sports Bars, Nightlif...",0,0,1,0,0,0,1,1,3,1,0
11,431,ifjluUv4VASwmFqEp8cWlQ,Marty's Pizza,CA,Santa Barbara,4.0,64,"Pizza, Restaurants",0,0,0,0,0,0,0,0,1,1,0
12,470,VeFfrEZ4iWaecrQg6Eq4cg,Cal Taco,CA,Goleta,4.0,189,"Burgers, Cafes, Restaurants, Mexican, American...",0,1,0,0,0,0,1,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5196,150230,IRBhPAC4ZoDpXazpoB3epQ,Good Stuff Baked Treats,CA,Santa Barbara,5.0,9,"Food, Food Delivery Services, Bakeries, Desser...",0,0,0,0,0,1,0,0,5,0,0
5197,150239,TSwMwVq5GtQh5LW2t32uGA,Woody's Roundup Bar & Grill,CA,Santa Barbara,2.0,6,"Barbeque, Bars, Restaurants, Nightlife",0,0,1,0,0,0,0,1,1,1,0
5198,150264,Bo-GGwQNcLVwyKeYkbfAYg,Vino Divino,CA,Santa Barbara,5.0,19,"Event Planning & Services, Wine Tasting Room, ...",0,0,1,0,0,1,0,1,10,0,0
5199,150272,8BUr8GviR2o_b-brO21wwQ,Kyle's Isla Vista,CA,Isla Vista,2.5,12,"Restaurants, Burgers, Food, Ice Cream & Frozen...",0,1,0,0,0,1,0,0,3,1,0
5201,150290,uriD7RFuHhLJeDdKaf0nFA,Pizza Guru,CA,Santa Barbara,4.0,299,"Restaurants, Pizza, Food",0,0,0,0,0,1,0,0,1,1,0

In [ ]:
# import pandas as pd

# create a sample dataframe with a column of categories separated by commas
# df = pd.DataFrame({'Category': ['A,B,C', 'A,C,D', 'B,C', 'A,B,D', 'A']})


top_categories = df_biz['categories'].value_counts().nlargest(10).index.tolist()

print(top_categories)

# replace categories not in the top 5 with 'Other'
df_biz.loc[~df_biz['categories'].isin(top_categories), 'categories'] = 'Other'

# split the 'Category' column into separate columns with binary values (0s and 1s)
categories = df_biz['categories'].str.get_dummies(sep=', ')

# concatenate the new columns with the original dataframe
df_biz = pd.concat([df_biz, categories], axis=1)

# drop the original 'Category' column
df_biz.drop('categories', axis=1, inplace=True)

df_biz

['Restaurants, Mexican', 'Mexican, Restaurants', 'Auto Repair, Automotive', 'Automotive, Auto Repair', 'Beauty & Spas, Nail Salons', 'Beauty & Spas, Hair Salons', 'Financial Services, Banks & Credit Unions', 'Hotels, Hotels & Travel, Event Planning & Services', 'Gas Stations, Automotive', 'Coffee & Tea, Food']

,Unnamed: 0,business_id,name,state,city,stars,review_count,Auto Repair,Automotive,Banks & Credit Unions,...,Financial Services,Food,Gas Stations,Hair Salons,Hotels,Hotels & Travel,Mexican,Nail Salons,Other,Restaurants
0,0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ",CA,Santa Barbara,5.0,7,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,26,noByYNtDLQAra9ccqxdfDw,H&M,CA,Santa Barbara,3.0,24,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,85,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,CA,Santa Barbara,4.0,389,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,91,nUqrF-h9S7myCcvNDecOvw,Iron Horse Auto Body,CA,Santa Barbara,4.5,32,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,120,bYjnX_J1bHZob10DoSFkqQ,Tinkle Belle Diaper Service,CA,Santa Barbara,5.0,17,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5198,150264,Bo-GGwQNcLVwyKeYkbfAYg,Vino Divino,CA,Santa Barbara,5.0,19,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5199,150272,8BUr8GviR2o_b-brO21wwQ,Kyle's Isla Vista,CA,Isla Vista,2.5,12,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5200,150284,f7rTfTv6dwO-ovKhz-Rvgw,"Joanne & Tem Gronquist, OD",CA,Santa Barbara,4.5,15,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5201,150290,uriD7RFuHhLJeDdKaf0nFA,Pizza Guru,CA,Santa Barbara,4.0,299,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5202,150303,JhSByBTYY1rGstRy76YmLA,Reiki with Darren,CA,Santa Barbara,5.0,7,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

def lemmatize_word(word, pos_tag):
    pos = get_wordnet_pos(pos_tag)
    if pos:
        return lemmatizer.lemmatize(word, pos)
    else:
        return lemmatizer.lemmatize(word)

def get_wordnet_pos(treebank_tag):
    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return None

def lemmatize_city(city):
    tokens = nltk.word_tokenize(city)
    pos_tags = nltk.pos_tag(tokens)
    
    lemmatized_tokens = [lemmatize_word(token, pos_tag) for token, pos_tag in pos_tags]
    lemmatized_city = ' '.join(lemmatized_tokens)
    
    return lemmatized_city


# df_biz['city'] = df_biz['city'].str.lower()
df_biz['Lemmatized City'] = df_biz['city'].apply(lemmatize_city)


df_biz['Lemmatized City'] = df_biz['Lemmatized City'].str.replace('santa barbara ,', 'santa barbara')
df_biz['Lemmatized City'] = df_biz['Lemmatized City'].str.replace('santa barbara ap', 'santa barbara')
df_biz['Lemmatized City'] = df_biz['Lemmatized City'].str.replace('santa barbra', 'santa barbara')



unique_cities = df_biz['city'].unique()
list(unique_cities).sort()
print(unique_cities)
print(len(unique_cities))

unique_cities = df_biz['Lemmatized City'].unique()

list(unique_cities).sort()
print(unique_cities)
print(len(unique_cities))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

['Santa Barbara' 'Isla Vista' 'Goleta' 'Carpinteria' 'Montecito'
 'santa Barbara' 'Truckee' 'Santa Barbara ' 'Ventura' 'Summerland'
 'Port Hueneme' 'West Hill' 'Santa Ynez' 'Sparks' 'Kings Beach'
 'Mission Canyon' 'Los Angeles' 'Tampa' 'Oxnard' 'Cerritos' 'Eagle' 'Reno'
 'Meridian' 'Santa Clara' 'Valencia' 'Real Goleta' 'Santa Barbara,'
 'Spring Hill' 'Aliso Viejo' 'SANTA BARBARA AP' 'South Lake Tahoe'
 'Santa Barbara & Ventura Counties' 'Santa Barbra' 'SANTA BARBARA'
 'Costa Mesa' 'Santa  Barbara' 'Salinas' 'Carpinteria ' 'Santa Maria']
39
['Santa Barbara' 'Isla Vista' 'Goleta' 'Carpinteria' 'Montecito'
 'santa Barbara' 'Truckee' 'Ventura' 'Summerland' 'Port Hueneme'
 'West Hill' 'Santa Ynez' 'Sparks' 'Kings Beach' 'Mission Canyon'
 'Los Angeles' 'Tampa' 'Oxnard' 'Cerritos' 'Eagle' 'Reno' 'Meridian'
 'Santa Clara' 'Valencia' 'Real Goleta' 'Santa Barbara ,' 'Spring Hill'
 'Aliso Viejo' 'SANTA BARBARA AP' 'South Lake Tahoe'
 'Santa Barbara & Ventura Counties' 'Santa Barbra' 'SANTA BARBARA'
 'Costa Mesa' 'Salinas' 'Santa Maria']
36

In [ ]:
df_review = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/SoCalRHackathon/CA_review.csv")
df_review

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,0,ZKvDG2sBvHVdF5oBNUOpAQ,wSTuiTk-sKNdcFyprzZAjg,B5XSoSG3SfvQGtKEGQ1tSQ,3,1,1,0,This easter instead of going to Lopez Lake we ...,2016-03-30 22:46:33
1,1,9ag-bC-521T1i3IypXr4Ug,sx_cqxyWRUoOIoy_AXmLdQ,B5XSoSG3SfvQGtKEGQ1tSQ,4,1,0,0,I work with a college group that does camping ...,2013-09-07 21:16:36
2,2,80p5xO3dbpd80T6vPTL8DQ,D7ct4p7uUk5t4LFSjVnO4A,B5XSoSG3SfvQGtKEGQ1tSQ,5,0,0,0,My SO and I love exploring new trails and so i...,2018-08-05 21:50:27
3,3,RScubg9WIp165432dQfVHQ,r9VkVP_4d2_KMHA9ZN2c6w,B5XSoSG3SfvQGtKEGQ1tSQ,5,14,9,13,I can't believe there's only one review for th...,2011-07-06 23:14:29
4,4,_JsMDKDQJ8uc6logHxA0-w,s0l9vVweCwvudj5TNGMl6w,B5XSoSG3SfvQGtKEGQ1tSQ,5,1,0,0,I love this area for hiking! I go there all th...,2016-04-03 03:24:46
...,...,...,...,...,...,...,...,...,...,...
348851,348851,cKuP5pnvbvpn4UbaccVcdg,OVYb1El25BgVhgbXb4e-KA,XPkkWyAkkPeH-PqXmBMmpg,5,0,0,0,Great experience with great people who are rea...,2021-06-22 21:41:07
348852,348852,dZC87sZ1f2ntOf876_DDLg,9w5PoliouEyNikdy6DizqQ,XPkkWyAkkPeH-PqXmBMmpg,5,0,0,0,I spent the week in Santa Barbara and had the ...,2021-06-28 23:53:44
348853,348853,NCafkcXIvK7E965my4RpQg,GmuHOkMR80oW3sAuF-UsAw,XPkkWyAkkPeH-PqXmBMmpg,5,0,0,0,"Last summer, I had the pleasure of experiencin...",2021-07-06 19:15:56
348854,348854,VxsNftGxRUDZcLD0Ns1wKg,VRXPOvlSydho0tYmSseKnQ,XPkkWyAkkPeH-PqXmBMmpg,5,0,0,0,Joseph and Teresa are super hosts. You will f...,2021-07-01 03:44:10
348855,348855,beFM3Lm5Pj6Spr8x6RV9Cg,uoYuvbxTCB0eu1UF4sUTcA,XPkkWyAkkPeH-PqXmBMmpg,5,0,0,1,I discovered Santa Barbara Tours and Experienc...,2021-07-27 20:41:20

In [ ]:
df_biz = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/SoCalRHackathon/CA_Biz.csv")


import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

def lemmatize_word(word, pos_tag):
    pos = get_wordnet_pos(pos_tag)
    if pos:
        return lemmatizer.lemmatize(word, pos)
    else:
        return lemmatizer.lemmatize(word)

def get_wordnet_pos(treebank_tag):
    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return None

def lemmatize_city(city):
    tokens = nltk.word_tokenize(city)
    pos_tags = nltk.pos_tag(tokens)
    
    lemmatized_tokens = [lemmatize_word(token, pos_tag) for token, pos_tag in pos_tags]
    lemmatized_city = ' '.join(lemmatized_tokens)
    
    return lemmatized_city


# df_biz['city'] = df_biz['city'].str.lower()
df_biz['Lemmatized_City'] = df_biz['city'].apply(lemmatize_city)


df_biz['Lemmatized_City'] = df_biz['Lemmatized_City'].str.replace('santa Barbara', 'Santa Barbara')
df_biz['Lemmatized_City'] = df_biz['Lemmatized_City'].str.replace('Santa Barbara ,', 'Santa Barbara')
df_biz['Lemmatized_City'] = df_biz['Lemmatized_City'].str.replace('SANTA BARBARA AP', 'Santa Barbara')
df_biz['Lemmatized_City'] = df_biz['Lemmatized_City'].str.replace('Santa Barbara & Ventura Counties', 'Santa Barbara')
df_biz['Lemmatized_City'] = df_biz['Lemmatized_City'].str.replace('Santa Barbra', 'Santa Barbara')
df_biz['Lemmatized_City'] = df_biz['Lemmatized_City'].str.replace('SANTA BARBARA', 'Santa Barbara')


df_biz # ['Lemmatized_City']

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,Unnamed: 0,business_id,name,state,city,stars,review_count,categories,Lemmatized_City
0,0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ",CA,Santa Barbara,5.0,7,"Doctors, Traditional Chinese Medicine, Naturop...",Santa Barbara
1,26,noByYNtDLQAra9ccqxdfDw,H&M,CA,Santa Barbara,3.0,24,"Women's Clothing, Accessories, Children's Clot...",Santa Barbara
2,85,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,CA,Santa Barbara,4.0,389,"Food, Restaurants, Salad, Coffee & Tea, Breakf...",Santa Barbara
3,91,nUqrF-h9S7myCcvNDecOvw,Iron Horse Auto Body,CA,Santa Barbara,4.5,32,"Towing, Automotive, Body Shops",Santa Barbara
4,120,bYjnX_J1bHZob10DoSFkqQ,Tinkle Belle Diaper Service,CA,Santa Barbara,5.0,17,"Parenting Classes, Maternity Wear, Fashion, Ed...",Santa Barbara
...,...,...,...,...,...,...,...,...,...
5198,150264,Bo-GGwQNcLVwyKeYkbfAYg,Vino Divino,CA,Santa Barbara,5.0,19,"Event Planning & Services, Wine Tasting Room, ...",Santa Barbara
5199,150272,8BUr8GviR2o_b-brO21wwQ,Kyle's Isla Vista,CA,Isla Vista,2.5,12,"Restaurants, Burgers, Food, Ice Cream & Frozen...",Isla Vista
5200,150284,f7rTfTv6dwO-ovKhz-Rvgw,"Joanne & Tem Gronquist, OD",CA,Santa Barbara,4.5,15,"Shopping, Eyewear & Opticians, Health & Medica...",Santa Barbara
5201,150290,uriD7RFuHhLJeDdKaf0nFA,Pizza Guru,CA,Santa Barbara,4.0,299,"Restaurants, Pizza, Food",Santa Barbara
5202,150303,JhSByBTYY1rGstRy76YmLA,Reiki with Darren,CA,Santa Barbara,5.0,7,"Health & Medical, Supernatural Readings, Hospi...",Santa Barbara

In [ ]:
sum_by_city = df_biz.groupby('Lemmatized_City')['review_count'].sum()
sum_by_city_df = sum_by_city.to_frame().reset_index()
sum_by_city_df

     Lemmatized_City  review_count
0        Aliso Viejo             9
1        Carpinteria         16905
2           Cerritos           130
3         Costa Mesa             9
4              Eagle            27
5             Goleta         44126
6         Isla Vista          7386
7        Kings Beach            12
8        Los Angeles             5
9           Meridian            12
10    Mission Canyon            19
11         Montecito          4886
12            Oxnard            13
13      Port Hueneme             7
14       Real Goleta            45
15              Reno            55
16           Salinas            28
17     Santa Barbara        263216
18       Santa Clara            25
19       Santa Maria            38
20        Santa Ynez            16
21  South Lake Tahoe             5
22            Sparks            26
23       Spring Hill            26
24        Summerland          2358
25             Tampa            14
26           Truckee           198
27          Valencia             8
28           Ventura             8
29         West Hill            25

In [ ]:
import pandas as pd
from geopy.geocoders import Nominatim

# Load the dataset
# df = pd.read_csv('california_cities.csv')

# Create a geolocator object
geolocator = Nominatim(user_agent='my_application')

# Define a function to geocode a city and return its latitude and longitude
def get_lat_long(city):
    location = geolocator.geocode(city + ', California')
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

# Apply the geocoding function to each city in the dataset
sum_by_city_df[['latitude', 'longitude']] = sum_by_city_df['Lemmatized_City'].apply(get_lat_long).apply(pd.Series)

# Save the updated dataset
# df.to_csv('california_cities_with_coordinates.csv', index=False)
sum_by_city_df

WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=Santa+Barbara%2C+California&format=json&limit=1

     Lemmatized_City  review_count   latitude   longitude
0        Aliso Viejo             9  33.576138 -117.725812
1        Carpinteria         16905  34.398884 -119.518456
2           Cerritos           130  33.864429 -118.053932
3         Costa Mesa             9  33.663339 -117.903317
4              Eagle            27  32.851898 -116.884033
5             Goleta         44126  34.435829 -119.827639
6         Isla Vista          7386  34.411513 -119.856213
7        Kings Beach            12  39.236279 -120.023362
8        Los Angeles             5  34.053691 -118.242766
9           Meridian            12  35.107466 -118.914267
10    Mission Canyon            19  34.451474 -119.710144
11         Montecito          4886  34.436663 -119.632075
12            Oxnard            13  34.197631 -119.180382
13      Port Hueneme             7  34.147756 -119.195156
14       Real Goleta            45  34.428331 -119.873557
15              Reno            55  32.511495 -116.907865
16           Salinas            28  36.674412 -121.655037
17     Santa Barbara        263216  34.422132 -119.702667
18       Santa Clara            25  37.233325 -121.684635
19       Santa Maria            38  34.953130 -120.435857
20        Santa Ynez            16  34.608637 -120.104677
21  South Lake Tahoe             5  38.933241 -119.984348
22            Sparks            26  37.721203 -121.460615
23       Spring Hill            26  39.232394 -121.044116
24        Summerland          2358  34.421385 -119.596517
25             Tampa            14  34.181217 -118.553441
26           Truckee           198  39.327962 -120.183253
27          Valencia             8  34.413194 -118.559849
28           Ventura             8  34.445825 -119.077936
29         West Hill            25  51.410092   -0.234508

In [ ]:
import plotly.express as px


# Heatmap of all crime overall
fig = px.density_mapbox(sum_by_city_df, lat='latitude', lon='longitude', radius=25, 
                        center={'lat': 35, 'lon': -120}, zoom=9,
                        mapbox_style="carto-positron")

fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

# fig.update_layout(
#     mapbox_layers=[
#         { }
#     ],
#     mapbox_style="white-bg",
# )

# fig.add_trace()

fig.show()

In [ ]:
# geojson heatmap

import pandas as pd
import folium
from geopy.geocoders import Nominatim

# # create a sample dataframe with California cities and counts
# data = {
#     'City': ['Los Angeles', 'San Diego', 'San Francisco', 'Sacramento', 'San Jose'],
#     'Count': [100, 50, 75, 30, 80]
# }
# df = pd.DataFrame(data)

# create a geocoder object
geolocator = Nominatim(user_agent='my-app', timeout=10)

# add latitude and longitude coordinates for each city
df_biz['Location'] = df_biz['Lemmatized_City'] + ', CA'

In [ ]:

from geopy.exc import GeocoderTimedOut

def geocode_location(location, geolocator, timeout=10):
    try:
        return geolocator.geocode(location, timeout=timeout)
    except GeocoderTimedOut:
        print(f'Geocoding request timed out for location "{location}"')
        return None

geolocator = Nominatim(user_agent='my-app', timeout=10)

df_biz['Latitude'] = None
df_biz['Longitude'] = None

for i, row in df_biz.iterrows():
    location = row['Location']
    result = geocode_location(location, geolocator)
    if result is not None:
        df_biz.at[i, 'Latitude'] = result.latitude
        df_biz.at[i, 'Longitude'] = result.longitude
    else:
        print(f'Geocoding failed for location "{location}"')


df_biz

KeyboardInterrupt: ignored

In [ ]:
df_biz['Latitude'] = df_biz['Location'].apply(lambda x: geolocator.geocode(x).latitude)
df_biz['Longitude'] = df_biz['Location'].apply(lambda x: geolocator.geocode(x).longitude)

# create a map centered on California
m = folium.Map(location=[37.7749, -122.4194], zoom_start=6)

# add markers for each city, scaled by count
for index, row in df_biz.iterrows():
    folium.Circle(
        location=[row['Latitude'], row['Longitude']],
        radius=row['review_count']*100,
        popup=row['Lemmatized_City'] + ': ' + str(row['review_count']),
        color='crimson',
        fill=True,
        fill_color='crimson'
    ).add_to(m)

# display the map
m

In [ ]:
df_user = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/SoCalRHackathon/CA_user.csv")
df_user

,Unnamed: 0,user_id,review_count,yelping_since,useful,funny,cool
0,0,qVc8ODYU5SZjKXVBgXdI7w,585,2007-01-25 16:47:26,7217,1259,5994
1,1,SZDeASXq7o05mMNLshsdIA,224,2005-11-29 04:38:33,512,330,299
2,2,q_QQ5kBBwlCcbL1s4NVK3g,1221,2005-03-14 20:26:35,14953,9940,11211
3,3,iYzhPPqnrjJkg1JHZyMhzA,4,2010-11-03 18:59:20,1,0,1
4,4,QF1Kuhs8iwLWANNZxebTow,607,2009-04-27 20:25:54,4573,3714,4149
...,...,...,...,...,...,...,...
155943,155943,Ml7Yh0WhJVZapqZ19Fsr2g,2,2017-04-22 22:37:56,0,0,0
155944,155944,xzt22UaBjy40CHgCjJ3Fgg,7,2009-05-19 20:42:33,1,0,1
155945,155945,Pt3u_iZV4Lo--4yfYsBhGg,5,2013-07-13 23:58:30,2,1,0
155946,155946,XPNsbtTADPdAsYT-C4xjsA,5,2018-02-05 05:47:47,1,0,0
155947,155947,wL5jPrLRVCK_Pmo4lM1zpA,2,2020-12-19 02:32:39,0,0,0